.form-topcontainer {
    padding-top: 10%;
}

.form-container {
    background-color: #6c757d33;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.form-subcontainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}