body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  font-weight: 400 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #999999 !important;
  background-color: #121212 !important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #121212;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  
}

.content-wrapper {
  min-height: 100%;
  z-index: 800;
  border-left: 1px solid;
  border-left-color: #292929;
  /* border-top: 2px solid;
  border-top-color: #292929; */
}

.fixed .content-wrapper, .fixed .right-side {
  /* padding-top: 50px; */
  min-height: 852px
}

.content-wrapper, .right-side, .main-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}

@media (max-width: 767px) {
  .fixed .content-wrapper, .fixed .right-side {
      /* padding-top: 100px; */
  }

  .content-wrapper {
    margin-left: 132px;
  }
}